/*html,body{*/
  /*width:100%;*/
  /*height:100%;*/
  /*overflow:hidden;*/
/*}*/
.header{
  width:100%;
  height:60px;
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  left:0;
  z-index:100;
}
.header-content{
  width:980px;
  height:60px;
  margin:0 auto;
}
.header-content>img{
  float: left;
  width:177px;
  height:27px;
  margin:16px 18px 0 0;
}
.header-content>ul{
  float:right;
}
.header-content>ul>li{
  float:left;
  width:90px;
  height:60px;
}
.header-content>ul>li>a{
  display: block;
  text-align:center;
  color:white;
  width:100%;
  height:100%;
  line-height:60px;
  font-size:14px;
}
/*.header-content>ul>li>a:hover,.active{*/
  /*background-image:url("./imgs/s1.jpg");*/
  /*background-size:90px 60px;*/
  /*color:black;*/
/*}*/

.header-content>ul>li:hover{
  background-color: #fc3;
}
.header-content>ul>li:hover a{
  color: #000;
}

/*header默认选中值*/
.header-content>ul>li.active{
  background-color: #fc3;

}
.header-content>ul>li.active a{
  color: #000;
}


.sideNav{
  width:12px;
  height:110px;
  position:fixed;
  right:1%;
  top:50%;
}
.sideNav>.active1{
  background: black;
}
.content>.sideNav>li:hover{
  background: black;
}
.sideNav>li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid;
  margin-top: 10px;
}

.content{
  width:100%;
  margin-top:60px;
}

.contentNav{
  width:100%;
  height:590px;
  position:relative;
}
/*第一页*/
.firstLi,.secondLi{
  width:100%;
  height:590px;
  background-image: url("./imgs/s1.jpg");
  background-position: -280px 745px ;
}
.one,.two,.three,.four,.five{
  width:1089px;
  height:590px;
  position:absolute;
  left:136px;
  top:30px;
  overflow:hidden;
}
/*第二页*/
.secondLi{
  background-image: url("./imgs/s2.jpg");
  position:relative;
}
.rightTile{
  width:161px;
  height:142px;
  border-right:2px solid black;
  position:absolute;
  right:20px;
  top:60px;
  text-align: right;
  box-sizing: border-box;
  padding-right:15px;
  margin-right:20px;
}
.rightTile>h1{
  font-size:35px;
  margin-bottom:20px;
}
.rightTile>p{
  font-size:18px;
  margin-bottom:15px;
}
.two{
  left:835px;
  top:74px;
}
.imgList{
  float:left;
  width:837px;
  height:437px;
  margin-top:50px;
  margin-left:55px;
}
.imgList>li{
  float:left;
  width:259px;
  height:428px;
}
.imgList>li>img{
  display:block;
  width:259px;
  height:310px;
}
.middleImg{
  margin:0 20px;

}
.text1,.text2{
  height:24px;
  text-align: center;
  line-height: 24px;
  font-size: 18px;
}
.text1{
  margin-top:20px;
}
.text-img{
  height:30px;
}
.text-img>a{
  display: block;
  height:30px;
  width:98px;
  background-image:url("./imgs/buy.jpg");
  margin:20px auto 0;
}
/*第三张*/
.three{
  left:610px;
  top:1160px;
  z-index:-1;
}
/*第四张*/
.fourthLi{
  /*background-image: url("./imgs/s4.jpg");*/
  /*position:relative;*/
}
.four{
  left:630px;
  top:2000px;
  z-index:-1;
}
/*第五张*/
.fifthLi .rightTile{
  width:200px;
  height:145px;
}
.five{
  left:560px;
  top:2550px;
  z-index:-1;
}
.thirdLi,.fourthLi,.fifthLi{
  height:590px;
}



.thirdLi .rightTile{
  top:1254px;
}
.fourthLi .rightTile{
  top:1844px;
}
.fifthLi .rightTile{
  top:2434px;
}
